{% extends 'index.html' %}

{% block main %}
        {# menu   #}
    {% include 'menu.html' %}
        {# book a table   #}
    {% include 'book_table.html' %}
        {# chef       #}
	{% include 'chef.html' %}

		<!-- <section class="ftco-section testimony-section" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5"> -->
        {#  happy customers      #}
	{% include 'customers.html' %}
        {#  footer gallery      #}
    {% include 'footer_gallery.html' %}
{% endblock %}