# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
local_settings.py

# Database
db.sqlite3


# Media files
#media/

# Virtual environment
venv/
.env



# macOS
.DS_Store

# Editor-specific files
.vscode/
*.sublime-workspace
*.sublime-project
*.komodoproject
.idea/

# Log files
*.log


*.data.json
