<footer class="ftco-footer ftco-bg-dark ftco-section" style="padding-bottom: 0rem">
    <div class="container-fluid px-md-5 px-3">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Culinary Odyssey</h2>
                    {{ footer_item.title|safe }}
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="{{ footer_item.twitter_link|safe }}"><span
                                class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="{{ footer_item.facebook_link|safe }}"><span
                                class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="{{ footer_item.instagram_link|safe }}"><span
                                class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Open Hours</h2>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex"><span>{{ footer_item.opening_hours|safe }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact</h2>
                    <p>{{ footer_item.newsletter|safe }}</p>

                    <a href="/" class="thumb-menu img">
                        <img style="width: 20rem; margin-top:2rem" src="/static/images/mainlogo.png" alt="Logo">
                    </a>
                    <button onclick="window.location.href='{% url 'odyssey:book_a_table' %}';" class="px-3" style="margin-top:2rem; cursor: pointer; background: #faa42c; height: 52px; font-size: 16px; width: 100%; border-radius: 0px; box-shadow: none; border: 1px solid #faa42c">Contact us</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>{{ footer_item.copyright_text|safe }}This template is made with Colorlib</p>
            </div>
        </div>
    </div>
</footer>
