<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Services</span>
            <h2 class="mb-4">Catering Services</h2>
          </div>
        </div>
        <div class="row">
            {% for item in services_item %}
          <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
                <span style="background-image: url({{ item.photo.url }}); width: 200px; height: 200px;display: inline-block; background-size: cover;border-radius: 30%;"></span>

              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ item.title}}</h3>
                <p>{{ item.description}}</p>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
			</div>
		</section>